.App {
  text-align: center;
}

.navbar {
  border-bottom: 1px solid silver;
  margin-bottom: 15px;
  padding: 15px;
}

.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 0 15px 15px 0;
}